Q1 list and its default function

In [1]:
a=[1,2,3,4,'aman','rahul']
a.pop(3)
print("after pop")
print(a)

after pop
[1, 2, 3, 'aman', 'rahul']

In [2]:
print("after extend")
a.extend('kiran')
print(a)

after extend
[1, 2, 3, 'aman', 'rahul', 'k', 'i', 'r', 'a', 'n']

In [3]:
print("after copy ")
b=a.copy()
print(b)

after copy
[1, 2, 3, 'aman', 'rahul', 'k', 'i', 'r', 'a', 'n']

In [4]:
print("after inserting" )
a.insert(3,4)
print(a)

after inserting
[1, 2, 3, 4, 'aman', 'rahul', 'k', 'i', 'r', 'a', 'n']

In [5]:
print("reversing the list ")
a.reverse()
print(a)

reversing the list
['n', 'a', 'r', 'i', 'k', 'rahul', 'aman', 4, 3, 2, 1]

Q2 dictionary and its functions

In [6]:
sd={1:'jeetu',2:'rajesh',3:"rohit"}
print("after pop")
sd.pop(1)
print(sd)

after pop
{2: 'rajesh', 3: 'rohit'}

In [7]:
print(sd)
d={1:"jeetu"}
print("after update")
sd.update(d)
print(sd)

{2: 'rajesh', 3: 'rohit'}
after update
{2: 'rajesh', 3: 'rohit', 1: 'jeetu'}

In [8]:
print(sd.keys())

dict_keys([2, 3, 1])

In [9]:
key=(1,2,3)
value=("letsupgrade")
a=dict.fromkeys(key,value)
print(a)

{1: 'letsupgrade', 2: 'letsupgrade', 3: 'letsupgrade'}

In [10]:
print("clearing dictionary")
sd.clear()
print(sd)

clearing dictionary
{}

Q3 sets and its default function

In [11]:
a={1,2,3,4,"jd",'ky'}
c={2,3,5,"jd",'jit'}
w=a.intersection(c)
print(w)

{2, 3, 'jd'}

In [12]:
q=a.union(c)
print(q)

{1, 2, 3, 4, 'jit', 5, 'ky', 'jd'}

In [13]:
t=c.difference(a)
print(t)

{'jit', 5}

In [14]:
b=a.copy()
print(b)

{1, 2, 3, 4, 'ky', 'jd'}

In [15]:
a.add(6)
print(a)

{1, 2, 3, 4, 6, 'ky', 'jd'}

Q4 tuples and explore its  function

In [16]:
a=(1,2,3,3,"jit",3,'kuy',3)
w=a.count(3)
print(w)

4

In [17]:
j=a.index('kuy')
print(j)

6

In [18]:
print("length of the tuple")
print(len(a))

length of the tuple
8

In [19]:
b=(2,35,9)
d=(4,10,15,'sub')
c=b+d
print("adding two tuple ")
print(c)

adding two tuple
(2, 35, 9, 4, 10, 15, 'sub')

In [20]:
e=('rohit','mon','raj','sam')
m=list(e)
m[2]='jit'
e=tuple(m)
print(e)

('rohit', 'mon', 'jit', 'sam')

Q4 string and explore its functions

In [21]:
str1="geekyshows"
print(str1.upper())

GEEKYSHOWS

In [22]:
str2="geekyshows"
b=str2.isupper()
print(b)

False

In [23]:
c=str2.isspace()
print(c)

False

In [24]:
str4='pythonupgrade'
new='lets'
old='python'
x=str4.replace('lets','old')
print(x)

pythonupgrade

In [25]:
str5="how-are-you"
o=str5.split('-')
print(o)

['how', 'are', 'you']